/* Global */
body {
  display: flex;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
  text-align: center;
  background-color: #ebebeb;
  align-items: center;
  margin: 0px 10%;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 300%;
  background-color: #13b5f5;
  color: #f5f5f5;
  padding: 15px;
  border-radius: 2rem;
  margin: 0;
}

header {
  width:80%
}

/* List Container */
#assignments-list {
  padding: 0;
  margin-left: -15px;
}
.list-item {
  display: flex;
  align-items: center;
  margin: 25px 0;
  border-left: 8px solid #ff1e00a6;
  border-bottom: 4px solid #ff1e00a6;
}
.item-active {
  border-color: #17f0a8fa;
}

.link-bullet {
  font-size: 2rem;
  font-family: 'Kaushan Script', serif;
  font-weight: 700;
  width: 30px;
  height: 3rem;
  padding: 0px 15px;
  border-top-right-radius: .3rem;
  background-color: #13b5f5
}
.assignment-name {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  font-weight: 700;
  padding: .5rem;
  margin-right: 20px;
  border-right: 3px solid #13b5f5;
  border-bottom: .1rem solid #13b5f5;
  border-bottom-right-radius: .3rem;
}

.ba-container {
  display: flex;
  flex-direction: row;
}

.ba-container>p {
  width: 100px;
  text-align: start;
}

.link-style {
  color: #414141;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2.2rem;
  text-decoration: underline;
  -webkit-text-fill-color: #666666;
  -webkit-text-stroke-width: 1px;
}

.b-link {
  text-decoration-color: #44e3ff;
  -webkit-text-stroke-color: #44e3ff5d;
}
.b-link:hover {
  -webkit-animation: blue-pulse 1.7s infinite;
  -moz-animation:    blue-pulse 1.7s infinite;
  -o-animation:      blue-pulse 1.7s infinite;
  animation:         blue-pulse 1.7s infinite;
}

.a-link {
  margin: 0 30px;
  text-decoration-color: #17f0a8;
  -webkit-text-stroke-color: #17f0a850;
}
.a-link:hover {
  -webkit-animation: green-pulse 1.7s infinite;
  -moz-animation:    green-pulse 1.7s infinite;
  -o-animation:      green-pulse 1.7s infinite;
  animation:         green-pulse 1.7s infinite;
}

.not-completed-text {
  border-top: 1px solid #ff4800;
  border-left: 1px solid #ff4800;
  border-bottom: 1px solid #ff4800;
  color: #ff4800;
  align-content: right;
}



/* KEYFRAMES & MEDIA QUERIES */

@keyframes green-pulse {
  0%   {
    font-size: 2.2rem;
    -webkit-text-fill-color: #666666;
    -webkit-text-stroke-color: #17f0a850;
    -webkit-text-stroke-width: 1px;
  }
  30% {
    font-size: 2.5rem;
    -webkit-text-fill-color: #414141;
    -webkit-text-stroke-color: #17f0a8fa;
    -webkit-text-stroke-width: 2px;
  }
  100%  {
    font-size: 2.2rem;
    -webkit-text-fill-color: #666666;
    -webkit-text-stroke-color: #17f0a850;
    -webkit-text-stroke-width: 1px;
  }
}

@keyframes blue-pulse {
  0%   {
    font-size: 2.2rem;
    -webkit-text-fill-color: #666666;
    -webkit-text-stroke-color: #44e3ff5d;
    -webkit-text-stroke-width: 1px;
  }
  60% {
    font-size: 2.5rem;
    -webkit-text-fill-color: #414141;
    -webkit-text-stroke-color: #44e3ffe1;
    -webkit-text-stroke-width: 2px;
  }
  100%  {
    font-size: 2.2rem;
    -webkit-text-fill-color: #666666;
    -webkit-text-stroke-color: #44e3ff5d;
    -webkit-text-stroke-width: 1px;
  }
}
