/* Globals */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0;
}
header {
  background: #0ed1d8;
  padding: 2rem 4rem;
}
header>div>a {
  text-decoration: inherit;
  font-size: 4vw;
  font-weight: 700;
  color: #ececec;
}

/* Article Styling */
article {
  margin: 30px auto;
  max-width: 878px;
}
.article-title-container {
  display: flex;
  align-items: center;
}
.article-title {
  font-size: 3rem;
  font-family: 'PT Serif', serif;
  text-align: center;
  margin-top: .2rem;
}
.article-image {
  width: 50%;
}

.article-content {
  font-size: 1rem;
  padding: 0 2rem;
}
.author-contact {
  margin: 0px 20%;
  font-family: 'PT Serif', serif;
  font-weight: 400;
}


/* Footer Styling */
h2 {
  width: 90%;
  color: #f3a273;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  background-color: #3cedf3;
  border-radius: 2rem;
  margin: 0px auto;
  /* padding */
}
.h2-border-00 {
  height: 70%;
  width: 95%;
  margin: 25px auto;
  background-color: #28dae0;
  border-radius: 3rem;
}
.h2-border-01 {
  /* height: 80px; */
  padding: 10px auto;
  margin: 0px auto;
  background-color: #0ebfc5;
  border-radius: 4rem;
}

#comment-section {
  max-width: 720px;
  margin: 0px auto;
  padding: 0 20px;
}
.comment-container {
  margin-top: 40px;
}
.comment-container>footer {
  background-color: #dddddd;
  padding: 20px;
  border-radius: 2rem;
}
.comment-container>footer>time {
  color: #0ed1d8;
}

button {
  color: #ececec;
  font-weight: 700;
  width: 200px;
  height: 50px;
  margin: 0px auto;
  background-color: #0ed1d8;
  border: none;
  border-radius: 2rem;
  margin-bottom: 2rem;
}


aside {

}
