/* Global */
body {
  font-family: 'EB Garamond', serif;
  background-color: #ebebeb
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 3rem;
  background-color: #13b5f5;
  color: #f5f5f5;
  width: 60%;
  margin: 0px auto;
  padding: 10px 0px;
  border-radius: 2rem;
}

/* List Container */
#assignments-links-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.assignment-link-list-item {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 15px 0;
  border-left: 8px solid #ff4800;
  border-bottom: 4px solid #666666;
}
.item-active {
  border-left-color: #17f0a8fa;
  height: 80px;
}

.assignment-name {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-right: 3px solid #13b5f5;
  border-bottom: 2px solid #13b5f5;
}

.before-after-link {
  color: #414141;
  width: 200px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2.2rem;
  text-decoration: underline;
  -webkit-text-fill-color: #666666;
  -webkit-text-stroke-width: 1px;
}

.before-link {
  text-decoration-color: #44e3ff;
  -webkit-text-stroke-color: #44e3ff5d;
}
.before-link:hover {
  -webkit-animation: blue-pulse 3s infinite;
  -moz-animation:    blue-pulse 3s infinite;
  -o-animation:      blue-pulse 3s infinite;
  animation:         blue-pulse 3s infinite;
}

.after-link {
  width: 100px;
  margin-right: 50px;
  text-decoration-color: #17f0a8;
  -webkit-text-stroke-color: #17f0a850;
}
.after-link:hover {
  -webkit-animation: green-pulse 3s infinite;
  -moz-animation:    green-pulse 3s infinite;
  -o-animation:      green-pulse 3s infinite;
  animation:         green-pulse 3s infinite;
}

.assignment-not-completed-text {
  color: #ff4800;
}

.link-bullet {
  font-size: 2rem;
  font-family: 'Kaushan Script', serif;
  font-weight: 700;
  height: 2.7rem;
  width: 30px;
  background-color: #13b5f5
}


/* KEYFRAMES & MEDIA QUERIES */

@keyframes green-pulse {
  0%   {
    font-size: 2.2rem;
    -webkit-text-fill-color: #666666;
    -webkit-text-stroke-color: #17f0a850;
    -webkit-text-stroke-width: 1px;
  }
  30% {
    font-size: 3rem;
    -webkit-text-fill-color: #414141;
    -webkit-text-stroke-color: #17f0a8fa;
    -webkit-text-stroke-width: 2px;
  }
  100%  {
    font-size: 2.2rem;
    -webkit-text-fill-color: #666666;
    -webkit-text-stroke-color: #17f0a850;
    -webkit-text-stroke-width: 1px;
  }
}

@keyframes blue-pulse {
  0%   {
    font-size: 2.2rem;
    -webkit-text-fill-color: #666666;
    -webkit-text-stroke-color: #44e3ff5d;
    -webkit-text-stroke-width: 1px;
  }
  60% {
    font-size: 3rem;
    -webkit-text-fill-color: #414141;
    -webkit-text-stroke-color: #44e3ffe1;
    -webkit-text-stroke-width: 2px;
  }
  100%  {
    font-size: 2.2rem;
    -webkit-text-fill-color: #666666;
    -webkit-text-stroke-color: #44e3ff5d;
    -webkit-text-stroke-width: 1px;
  }
}
