/* HEADER STYLING */
header {
  background-color: #0ed1d8;
  padding: 2rem 4rem;
}
header>a {
  display: flex;
  align-items: center;
  text-decoration: inherit;
  font-size: 3rem;
  font-weight: 700;
  color: #ececec;
}
header>a>img {
  height: 125px;
  width: auto;
  background-color: #fff;
  padding: 20px;
  margin-right: 20px;
  border-radius: 4.4rem;
}
